.container-fluid{
    background-color: bisque;
    height:100vh;
    width:100%;
}

.form{
    height:30vh;
    width:30%;
    background-color: rgb(255, 255, 255);
    position: relative;
    left:30%;
    top:30%;
}